.Donate{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Donate .container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Paypal{
    width: 400px;
    height: 600px;
    background-color: rebeccapurple;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bree Serif';
    color: whitesmoke;
}

.sized-box{
    height: 30px;
}

.Paypal .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.Paypal .content{
    font-size: 30px;
    /* display: inline; */
}

.Paypal .content .form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* background-color: red; */
}

.Paypal .content input{
    outline: 0px;
    width: 200px;
    outline-offset: 0px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: rebeccapurple;
    color: whitesmoke;
    line-height: 24px;
    border: 0px;
    font-size: 60px;
    text-align: end;
}

.Paypal .content input::placeholder{
    text-align: end;
    color: whitesmoke;
}

.Paypal .footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 150px;
}

.Paypal .footer button{
    /* padding: 15px; */
    width: 250px;
    border-radius: 20px;
    border: 0px;
    font-family: 'Bree Serif';
    outline: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Paypal .footer .button{
    /* padding: 15px; */
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Paypal .footer button:hover:enabled{
    background-color: #c62a88;
    cursor: pointer;
}

.Paypal .footer .button:disabled{
    /* padding: 15px; */
    background-color: #686d76;
}